<div class="container-fluid px-3">

    <div class="row  px-3" id="my" >
        <div class="col-lg-12 col-md-6  ">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col-md-3 circle " >

                    <div class="px-3">


                        <canvas class="chart-wrapper" id="myChart2" >
                          

                        </canvas>



                    </div>
                </div>
                <div class="col-md-3 circle " #TABLE #table>

                    <div class="px-3">


                        <canvas class="chart-wrapper" id="myChart" >
                          

                        </canvas>



                    </div>
                </div>

                <div class="col-md-3 circle">
                    <div class="px-3">


                        <canvas id="myChart1">

                        </canvas>



                    </div>

                </div>

                <div class="col-md-3 circle">

                    <div class="px-3">


                        <canvas id="myChart2">

                        </canvas>



                    </div>

                </div>

                <div class="col-md-3">
                    <button (click)="openExcel()" class="btn btn-danger mx-2">Excel</button>
                    <button (click)="openPDF()" class="btn btn-danger mx-2">Pdf</button>
                </div>
            </div>
        </div>






        <div class="col-lg-12 col-md-6 my-5 ">
            <div class="row  ">
                <div class="col-md-4 ">
                    <div class="px-3 circle2">


                        <canvas id="ChartT">

                        </canvas>



                    </div>
                </div>
                <div class="col-md-4 ">

                    <div class="px-3 circle2">


                        <canvas id="ChartH">

                        </canvas>



                    </div>
                </div>




                <div class="col-md-4 ">


                    <div class="px-3 circle2">


                        <canvas id="ChartJ">

                        </canvas>



                    </div>


                </div>


            </div>


        </div>



    </div>




</div>